doc/plan/ephyplan.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT plan (item*)>

<!ELEMENT item (bugzilla|description|responsible|status|title)*>
<!ELEMENT title (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT status EMPTY>
<!ELEMENT responsible (#PCDATA)>
<!ELEMENT bugzilla EMPTY>

<!ATTLIST bugzilla id CDATA #REQUIRED>
<!ATTLIST plan version CDATA #REQUIRED>
<!ATTLIST responsible email CDATA #REQUIRED>
<!ATTLIST status id (completed|delayed|designed|implementing|orphan|pending) #REQUIRED>
